{% for item in items %}
    <tr>
        <td>
            <input type="hidden" name="names[]" value="{{ item.name }}" />
            {% if item.viewable is defined and item.viewable == false %}
                <span class="non-viewable-item">{{ item.name }}</span>
            {% else %}
                <span>{{ item.name }}</span>    
            {% endif %}
        </td>
        <td align='center'>
            <a class="btn" href="{{ ADMIN_URL }}/EditController.php?category={{ item.dir }}"><i class="icon-pencil"></i>&nbsp;Edit</a>
        </td>
    </tr>
{% endfor %}
    
{% include "ordered_item_list.twig" %}