<fieldset>
    <legend>Edit {{ item.image }}</legend>
    <div class="control-group">
        <label class="control-label" for="name">Image</label>
        <div class="controls">
            <img src="{{ item.encodedSource }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="source">Source</label>
        <div class="controls">
            <input type="text" name="source" value="{{ item.source }}" class="input-xxlarge" readonly="readonly"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <input type="text" name="description" value="{{ item.description }}" class="input-xxlarge"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="link">Link</label>
        <div class="controls">
            <input type="url" name="link" value="{{ item.link }}" class="input-xxlarge" placeholder="http://www.example.com"/>
        </div>
    </div>
</fieldset>