<fieldset>
    <legend>Edit {{ item.name }}</legend>
    <div class="control-group">
        <label class="control-label" for="name">Image</label>
        <div class="controls">
            <img src="{{ item.encodedImage }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" name="name" value="{{ item.name }}" class="input-xxlarge" readonly="readonly"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <input type="text" name="description" value="{{ item.description }}" class="input-xxlarge"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="title">Image Tooltip</label>
        <div class="controls">
            <input type="text" name="title" value="{{ item.title }}" class="input-xxlarge"/>
        </div>
    </div>
    {% if item.viewable == true %}
        <div class="control-group">
            <label class="control-label" for="viewable">Viewable</label>
            <div class="controls">
                <input type="checkbox" name="viewable" checked="checked"/>
            </div>
        </div>
    {% else %}
        <div class="control-group">
            <label class="control-label" for="viewable">Viewable</label>
            <div class="controls">
                <input type="checkbox" name="viewable"/>
            </div>
        </div>
    {% endif %}
</fieldset>