<fieldset>
    <legend>Edit {{ item.name }}</legend>
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" name="name" value="{{ item.name }}" class="input-xlarge" required/>
        </div>
    </div>
    {% if item.viewable == true %}
        <div class="control-group">
            <label class="control-label" for="viewable">Viewable</label>
            <div class="controls">
                <input type="checkbox" name="viewable" checked="checked"/>
            </div>
        </div>
    {% else %}
        <div class="control-group">
            <label class="control-label" for="viewable">Viewable</label>
            <div class="controls">
                <input type="checkbox" name="viewable"/>
            </div>
        </div>
    {% endif %}
    {% if SHOW_SUBCATEGORY_CHECKBOX == true %}
        {% if item.hasSubContent == true %}
            <div class="control-group">
                <label class="control-label" for="hassubcategory">Has Subcategories</label>
                <div class="controls">
                    <input type="checkbox" name="hassubcategory" id="hassubcategory" checked="checked"/>
                    <a href="{{ ADMIN_URL }}/index.php?category={{ item.dir }}" id="edit_btn" class="btn">edit</a>
                </div>
            </div>
        {% else %}
            <div class="control-group">
                <label class="control-label" for="hassubcategory">Has Subcategories</label>
                <div class="controls">
                    <input type="checkbox" name="hassubcategory" id="hassubcategory"/>
                    <a href="{{ ADMIN_URL }}/index.php?category={{ item.dir }}" id="edit_btn" class="btn disabled">edit</a>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a href="{{ item.adminUrl }}" title="Edit Web Page Content"><i class="icon-edit"></i>&nbsp;Edit Web Page Content</a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="control-group">
            <div class="controls">
                <a href="{{ item.adminUrl }}" title="Edit Web Page Content"><i class="icon-edit"></i>&nbsp;Edit Web Page Content</a>
            </div>
        </div>
    {% endif %}
</fieldset>